/*p{
    width: px;
    height: 0;
}*/
.box{
    border:  4px solid black;
    text-align: center;
}
img{
    width: 650px;
   margin-right: 1150px;
}
.first-box{
    background-color: #ffb26b;
    width: 120px;
    height: 80px;
}
.second-box{
    background-color: #939b62;
    padding: 5px;
}